:root{
    --primary: rgb(126,218,216);
}

.btn {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn:hover {
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    background: #5da3a8;
    color: white;
    transition: 250ms;
}

.btn--primary{
    background-color: var(--primary);
}

.btn--outline{
    background-color: transparent;
    color: #000000;
    padding: 8px 20px;
    border-radius: 4px;
    border: 2px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--outline:hover{
    background: rgb(126,218,216);
    color: #424040;
}

.btn--medium{
    padding: 8px 20px;
    border-radius: 4px;
    font-size: 18px;
    color: #000000;
}

.btn--large{
    padding: 12px 26px;
    border-radius: 4px;
    font-size: 20px;
    color: #000000;
}