* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: rgb(51, 51, 51);
}

.App-link {
  color: #61dafb;
}

.search {
  position: absolute;
  top:  45%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 6px;
  font-size: 30px;
}

.searchBar{
  font-size: 20px;
  border-radius: 5px;
  height: 40px;
  width: 300px;
  padding: 2px 23px 2px 30px;
  margin-right: 8px;
}

.searchButtons{
  font-size: 20px;
  border-radius: 5px;
  height: 43px;
  width: 100px;
  margin-right:8px;
  margin-left:8px;
}


.post{
  height: 60px;
  width: 120px;
  font-size: 20px;
  background-color:rgb(126,218,216);
  color:black;
  padding: 10px, 20px;
  border-radius: 4px;
  border: none;
}

#postbutton{
  position: fixed;
  bottom: 4px;
  right: 10px;
}

.post-popup{
  position: fixed;
  right:40%;
  top:30%;
  display : none;
  text-align: center;
  z-index: 3;
}

.post-container{
  border: solid;
  border-radius: 10px;
  background-color: rgb(219, 250, 246);
  max-width: 900px;
  padding: 30px;
}

.searches{
  margin-top: 50px; 
  display: center; 
  justify-content: center; 
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}

.description{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgb(219, 250, 246);
}

.settingsForm{
  padding-top: 20px;
  width: 480px;
  margin-right: auto;
  margin-left: auto;
}

.settingsForm label{
  font-weight: 600;
  font-size: 14px;
}

.settingsForm p{
  font-size: 12px;
  min-height: 17px;
  color: #656c75;
  padding-top: 3px;
}

.settingsForm h4{
  font-weight: 600;
  font-size: 14px;
}

.settingsForm input[type=email]{
  margin:0;
}

.settingsForm input[type=password]{
  margin:0;
}

.settingsForm input[type=submit]{
  margin-bottom: 20px;
  height: 40px;
  width: 200px;
  font-size: 20px;
  font-weight: 600;
  background-color:rgb(126,218,216);
  color:black;
  padding: 10px, 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.settingsFields{
  width: 480px;
  background-color: #fafbfc;
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  outline:none;
}