* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: rgb(51, 51, 51);
}

.App-link {
  color: #61dafb;
}

.description{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgb(219, 250, 246);
}

.PremiumInfo{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgb(219, 250, 246);
  text-align: center;
}

.PremiumInfo p{
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 14em
}

.settingsForm{
  padding-top: 20px;
  width: 480px;
  margin-right: auto;
  margin-left: auto;
}

.settingsForm label{
  font-weight: 600;
  font-size: 14px;
}

.settingsForm p{
  font-size: 12px;
  min-height: 17px;
  color: #656c75;
  padding-top: 3px;
}

.settingsForm h4{
  font-weight: 600;
  font-size: 14px;
}

.settingsForm input[type=email]{
  margin:0;
}

.settingsForm input[type=password]{
  margin:0;
  width: 240px;
  height:40px;
}

.settingsForm input[type=submit]{
  margin-bottom: 20px;
  height: 40px;
  width: 200px;
  font-size: 20px;
  font-weight: 600;
  background-color:rgb(126,218,216);
  color:black;
  padding: 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.settingsForm button{
  margin-bottom: 20px;
  height: 40px;
  width: 400px;
  font-size: 20px;
  font-weight: 600;
  background-color:rgb(126,218,216);
  color:black;
  padding: 10px, 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.settingsFields{
  width: 240px;
  background-color: #fafbfc;
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  outline:none;
}

.FooterBanner{
  background: rgb(238,253,255);
  background: linear-gradient(90deg, rgba(238,253,255,1) 36%, rgba(215,255,235,1) 100%);
  position: relative;
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  object-fit: contain;
  font-size: 37px;
}

.FooterContent{
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  margin-bottom: 4%;
}

.FooterContent p{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 50em
}

.FooterContent h4{
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  width: 27em;
}

.FooterContent h5{
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  width: 32em;
}

.containerContact{
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  margin-bottom: 4%;
  width: 50em
}

.profileImage{
  height: 260px;
  width: 260px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  border: 1px solid;
}

.profileContainer{
  margin-left: 7%;
  margin-right: 7%
}

.profileContainer p{
  font-size: 24px;
  font-weight: 600;
  padding-top: 3px;
}

.profileChildImg{
  width: 25%;
  float: left;
  padding:20px;
}

.profileChildInfo{
  width: 75%;
  float: left;
  padding:20px;
}

.profileContainer button{
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 600;
  background-color:rgb(126,218,216);
  color:black;
  padding: 20px;
  border-radius: 50%;
  border: 2px solid;
  border-color: rgb(89, 190, 189);
  outline: none;
}